swagger: "2.0"
info:
  version: "1.0.0"
  title: "Papire.io API"
host: "api.papire.io"
basePath: "/v1"
schemes:
  - "https"

paths:
  /sign/in:
    post:
      summary: "/sign/in"
      description: "Sign In with creation new session"
      operationId: "sign_in"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          required: true
          schema:
            $ref: "#/definitions/SignInRequest"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/SignInResponse"
        "400":
          description: "Invalid request"
        "401":
          description: "Unauthorized"
        "500":
          description: "Internal server error"

  /sign/up:
    post:
      summary: "/sign/up"
      description: "Sign Up with creation new session"
      operationId: "sign_up"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          required: true
          schema:
            $ref: "#/definitions/SignUpRequest"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/SignUpResponse"
        "400":
          description: "Invalid request"
        "409":
          description: "Email unavailable"
        "500":
          description: "Internal server error"

  /user:
    get:
      summary: "/user"
      description: "Get authorized user"
      operationId: "user"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/GetUserResponse"
        "403":
          description: "Unauthorized"
        "500":
          description: "Internal server error"
      security:
        - session_token:
          - "access"

definitions:
  SignInRequest:
    type: "object"
    properties:
      email:
        type: "string"
        format: "email"
      password:
        type: "string"
        format: "min 8 chars"
  SignInResponse:
    type: "object"
    properties:
      session_token:
        type: "string"

  SignUpRequest:
    type: "object"
    properties:
      email:
        type: "string"
        format: "email"
      password:
        type: "string"
        format: "min 8 chars"
  SignUpResponse:
    type: "object"
    properties:
      session_token:
        type: "string"

  GetUserResponse:
    type: "object"
    properties:
      uuid:
        type: "string"
      name:
        type: "string"
      email:
        type: "string"
      verified:
        type: "boolean"

securityDefinitions:
  session_token:
    type: apiKey
    name: "session_token"
    in: "header"
